* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

a {
    text-decoration: none;
    color: white;
}

svg {
    color: #e0e0e0;
}

a:hover {
    color: grey;
}

.fondo {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../imagenes/fonnndo.jpg);


}

ul {
    list-style: none;
    display: flex;
    font-size: 25px;
    padding: 35px 0;
    justify-content: space-around;
}



/* Navbar con grid */

.navbar {
    display: grid;
    grid-template-columns: 6fr 2fr;
    align-items: center;
    padding: 15px;


}






.logo {
    width: 80px;
    cursor: pointer;

}

.navbar ul li {
    color: aliceblue;
    position: relative;
}

.navbar ul li a {
    color: #fff;
    font-size: 20px;
}

/* Animacion linea blanca */

.navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}


/* Contenido del medio */
.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);



}

.box input {
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}

.box input[type="text"] {
    background-color: #fff;
    width: 330px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}

.box input[type="submit"] {
    position: relative;
    left: -5px;
    border-radius: 0 25px 25px 0;
    width: 140px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #ffc107;
    color: #fff;

}

.box input[type="submit"]:hover {
    background-color: orange;
}

h1 {
    margin: 0 0 20px;
    padding: 0;
    color: #fff;
    font-size: 40px;
}


/* Footer */
footer {
    position: absolute;
    bottom: 5px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 99%;
    height: 120px;
    padding: 5px;


}

.redes--Footer a {
    margin: 0 5px;

    margin: 10px;
}

.redes--Footer {
    display: flex;
    align-content: flex-end;
    margin-top: 70px;

}


.info-footer {
    margin-top: 88px;
}

.logos--footer {
    display: flex;
    align-content: flex-end;
}



/* Contactanos */


#input--contacto {
    border: black solid 1px;
}

.contacto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 530px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border: 7px;
    background-color: rgba(0, 0, 0, 0.2);

}

form h2 {
    color: #fff;
    align-items: center;
    margin: 0;
    font-size: 40px;
    margin-bottom: 20px;
}

form input,
textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
}

form input {
    border-radius: 7px;
}

form textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}


#boton {
    background: #ffc107;
    color: black;
    padding: 20px;
    font-weight: bold;
}

#boton:hover {
    background-color: orange;
    cursor: pointer;
}










/* postBuscar */


.card {

    display: grid;
    grid-template-columns: 1fr 3fr 1.5fr;
    width: 80%;
    height: 180px;
    margin-bottom: 20px;
    margin-left: 120px;
    border-radius: 2px;
    border: solid 0.1px white;
    color: white;



}

.image {
    display: flex;
    flex-direction: column;
    height: 180px;
    overflow: hidden;


}

.info--canchas {
    padding: 10px 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 70px;
}

.info--canchas div {
    margin: 5px 0;

}

.grilla {

    position: absolute;
    top: 170px;
    left: 50px;
}

.info--final {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

    height: 150px;
}




.logos--canchas {
    display: flex;
    height: 50px;
    width: 100px;
    justify-content: space-around;
    align-items: flex-end;
    margin-left: 150px;
    margin-top: 190px;
    margin-bottom: 10px;


}



.km--reserva {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;

}



.reserva {
    font-size: 25px;
    margin-right: 10px;
}




/* Perfil */

.box--perfil svg {
    color: black;
}

.box--perfil {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 430px;
    display: flex;
    color: #fff;

}

.box--perfil .izquierda {
    width: 35%;
    background-color: #e8f713e1;
    padding: 50px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: black;
}


.box--perfil .derecha {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px 25px;

}

.box--perfil .derecha .info,
.box--perfil .derecha .projects {
    margin-bottom: 60px;
}

.box--perfil .derecha .info h3,
.box--perfil .derecha .turnos h3 {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #ffff;
    text-transform: uppercase;
    letter-spacing: 4px;
}



/* Letra email y celular */

.box--perfil .derecha .info_data .data p,
.box--perfil .derecha .data p {
    font-size: 13px;
    margin-bottom: 10px;
    color: #ffff;
}


.turnos li {
    padding: 1px;
}

.info h5 {
    position: absolute;
    left: 20px;
    top: 10px;
    color: black;
}

.info h5:hover {
    color: white;
    cursor: pointer;

}

@media screen and (max-width: 420px) {

    .fondo {
        margin: 0;
        padding: 0;
    }

    .navbar li {
        padding: 0px 10px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;

    }

    .navbar ul li a {
        font-size: 15px;


    }

    .navbar .bi-whatsapp {
        width: 60px;

    }

    .navbar .bi-person-circle {
        width: 50px;

    }

    .box h1 {
        font-size: 40px;
    }

    .box {
        padding: 0px;
    }

    .box input[type="submit"] {
        position: absolute;
        width: 70px;
        font-size: 15px;
        height: 50px;
        top: 155px;
        left: 150px;
    }

    .box input[type="text"] {
        width: 150px;

    }

    .box input[type="text"]::placeholder {
        font-size: 14px;
    }


    .logo {
        width: 30px;
    }

    .navbar ul li {
        width: 28.5px;
    }

    footer {
        font-size: 12px;
    }

    .contacto {
        width: 330px;
    }

    .box--perfil {
        width: 330px;
    }


}